.footer{
	position: relative;
	padding: 20px 20px;
	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: var(--size-con);
		width: 100%;
		height: 2px;
		background: var(--black);
	}
	&__menu{

	}
	&__copy{
		margin: 20px 0 0;
	}
}
@media(min-width: 768px){
	.footer{
		padding: 20px var(--size-con);
		&::before{
			width: 50%;
		}
	}
}
.bottom-nav{
	margin: 0; 
 	padding: 0; 
 	list-style: none;
	.menu-item{
		a{
			font-size: 1rem;
			color: inherit;
			transition: 0.3s;
			border-bottom: 1px solid transparent;
			text-decoration: none;
			color: inherit;
			&:hover{
				border-bottom-color: var(--red);
			}
		}
		& + .menu-item{
				margin-top: 7px;
		}
		&.current-menu-item{
			a{
				border-bottom-color: var(--red);
			}
		}
	}
	.current-menu-item{

	}
}
.copy{
	font-size: 1.1rem;
	&__privace{
		font-size: 1.1rem;
		color: var(--black);
		transition: 0.3s;
		text-decoration: none;
		border-bottom: 1px solid currentColor;
		&:hover{
			border-bottom-color: var(--red);
		}
	}
}