.mobile-open{
	overflow: hidden;
}
.header{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	&__logo{}
	&__main-nav{
		margin-top: 20px;
	}
}
@media(min-width: 1200px){
	.header{
		&__main-nav{
			margin-top: 0px;
		}
	}
}
@media(min-width: 1200px){
	.header{
		padding: 20px var(--size-con);
		flex-flow: row;
		&__logo{}
	}
}
.header-logo{
	width: 100%;
}
@media(min-width: 1200px){
	.header-logo{
		max-width: 350px;
	}
}
.main-nav{
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: row-reverse;
	align-items: center;
	justify-content: space-between;
	&__mobile-btn{
		background: transparent;
		border: none;
		background: transparent;
	}
	&__top-nav{
		// display: none;
		visibility: hidden;
		position: fixed;
		top: 0%;
	    right: -100%;
	    z-index: 10;
	    // max-width: calc(100vw - 60px);
	    width: 100%;
	    min-height: 100vh;
	    border-left: 2px solid var(--black);
	    padding: 20px;
	    padding-left: 60px;
	    transition: 0.5s;

	}
	&__callback{
	}
	&__mobile-close{
		position: absolute;
	    left: 10px;
	    top: 20px;
	}

}

@media(min-width: 768px){
	.main-nav{
		display: inline-block;
		width: auto;
		&__mobile-btn{
			display: none;
			visibility: hidden;
		}
		&__mobile-close{
			display: none;
			visibility: hidden;	
		}
		&__top-nav{
			position: static;
			display: inline-block;
			width: auto;
			visibility: visible;
			min-height: unset;
			padding: 0;
			border: none;
		}
		&__callback{
			margin-left: 30px;
		}

	}
}

.top-nav{
 	display: flex; 
 	flex-flow: column; 
 	align-items: flex-start;
 	justify-content: flex-start;
 	margin: 0; 
 	padding: 0; 
 	list-style: none;
	&--mobile-open{
		display: block;
		visibility: visible;
		right: 0;
		background: rgba(255, 255, 255, 0.85);
	}
	.menu-item{
		position: relative;
		padding-bottom: 5px;
		a{
			font-size: 1.3rem;
			line-height: 1;
			text-decoration: none;
			color: var(--black);
			&:hover{
				// border-bottom-color: va(--red); 
			}
		}
		& + .menu-item{
			margin-top: 15px;
		}
		&::after{
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background: var(--black);
			transition: 0.3s;
		}
		&:hover::after{
			width: 100%;
		}
		&:hover{}
	}
	.current-menu-item{
		a{

		}
		&::after{
			width: 100%;
			background: var(--red);
		}
	}
}
@media(min-width: 768px){
	.top-nav{
		flex-flow: row nowrap; 
	 	align-items: center; 
	 	justify-content: space-around; 
	 		.menu-item{
				& + .menu-item{
					margin-top: 0;
					margin-left: 20px;
				}
	 		}

	}
}
.mobile-close{
	width: 40px; 
	height: 80px;
	padding: 0;
	color: var(--black);
	background: transparent;
	border: none;
}
.mobile-btn{
	width: 40px;
	height: 40px;
	padding: 0;
	background: transparent;
}
.top-callback{
	position: relative;
	padding: 10px 15px;
	border-radius: 20px;
	border: 2px solid var(--red);
	background: transparent;
	text-align: center;
	font-size: 1rem;
	overflow: hidden;
	color: var(--black);
	transition: 0.3s;
	cursor: pointer;
	&--mobile{
		width: 100%;
		margin-top: 30px;

	}
	&::before{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 100%;
		background: var(--red);
		z-index: -1;
		transition: inherit;
		color: transparent;
		box-sizing: border-box;
	}
	&:hover{
		color: #fff;
		// font-weight: bold;
		&::before{
			color: #fff;
			width: 100%;
		}
	}
}
.btn{
	position: relative;
	padding: 10px 15px;
	border-radius: 20px;
	border: 2px solid var(--red);
	background: transparent;
	text-align: center;
	font-size: 1rem;
	overflow: hidden;
	color: var(--black);
	transition: 0.3s;
	cursor: pointer;
	outline: none;
	&::before{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 100%;
		background: var(--red);
		z-index: -1;
		transition: inherit;
		color: transparent;
		box-sizing: border-box;
	}
	&:hover, &:focus, &:active{
		color: #fff;
		&::before{
			background: var(--red);
			width: 100%;
		}
	}
}
@media(min-width: 768px){
	.top-callback{
		&--mobile{
			display: none;
			visibility: hidden;
		}
	}
}