.index-banner{
	padding: 20px;
	margin-bottom: 40px;
	&__types{}
}
@media (min-width: 1024px){
	.index-banner{
		padding: 20px var(--size-con);
		margin-bottom: 90px;
	}	
}
.types{
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	&__one-type{}
}
@media (min-width: 1024px){
	.types{
		// flex-wrap: wrap;
	}
}
.one-type{
	position: relative;
	flex-basis: 100%;
	padding: 20px;
	border-radius: 20px;
	transition: 0.3s;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 11px 49.6px rgba(53,104,135,.16);
	// background: #f7fcff;
	&:hover{
		background: #fff;
		// padding-bottom: 50px;
		// border-width: 2px;
		// border-color: var(--red);
		box-shadow: 0 30px 25px rgba(53,104,135,.16);
		.one-type__title{
			color: var(--red);
		}
		.one-type__description--marked{
			color: var(--red);
		}
		.one-type__callback{
			// bottom: 20px;
		}
	}
	&__title{
		margin: 0 0 40px;
		font-size: 2rem;
		transition: 0.3s;
	}
	&__description{
		margin-bottom: 30px;
		font-size: 1.2rem;
		&--marked{
			white-space: nowrap;
			transition: 0.3s;

		}
	}
	&__price{
		margin: 0 0 5px;
		font-size: 1.5rem;
	}
	&__information{
		margin: 0;
		font-size: 0.9rem;
	}
	&__callback{
		position: relative;
		display: block;
		margin: 20px auto 0;
		width: 80%;
		padding: 10px 20px;
		border-radius: 10px;
		z-index: 5;
		&::before{
			// z-index: 4;
		}
	}
}
@media (max-width: 1024px){
	.one-type{
		& + &{
			margin-top: 30px;
		}
	}
}
@media (min-width: 768px){
	.one-type{
		position: relative;
		padding-bottom: 80px;
		&:hover{
			.one-type__callback{
				bottom: 20px;
			}
		}
		&__callback{
			display: block;
			position: absolute;
			bottom: -20%;
			left: 10%;
			z-index: 5;
			width: 80%;
			padding: 10px 20px;
			border-radius: 10px;
			&::before{
				// z-index: 4;
			}
		}
	}
}
@media (min-width: 1024px){
	.one-type{
		flex-basis: 30%;
	}

}
