.modal--open{
	overflow: hidden;
	.modal{
		display: flex;
		visibility: visible;
	}
}
.modal{
	display: none;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	z-index: 100;
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
	}
	&__window{
		position: relative;
		padding: 20px;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		background: #fff;
		width: 80%;
		border-radius: 20px;
		z-index: 10;
	}
	&__close{
		position: absolute;
		top: -45px;
		right: -25px;
		width: 30px;
		height: 30px;
		padding: 0;
		background: transparent;
		border: none;
		color: #fff;
		cursor: pointer;
		outline: none;
		&:hover, &:focus, &:active{
			color: var(--red);
		}
	}
}
@media(min-width: 768px){
	.modal{
		&__window{
			width: 60%;
			max-width: 500px;
		}
		&__close{
			top: -50px;
			right: -50px;
			width: 40px;
			height: 40px;
		}
	}
}

.modal-callback{
	&__label{
		display: block;
		margin-bottom: 25px;
	}
	&__input{
		display: block;
		width: 100%;
		padding: 10px 20px;
		margin-top: 10px;
		border-radius: 10px;
		border: 2px solid var(--grey);
		outline: none;
		&:focus{
			border-color: var(--red);
		}
	}
	&__submit{
		display: block;
		width: max-content;
		margin-left: auto;
		margin-right: auto;
	}
}