.pluses{
	padding: 20px;
	margin-bottom: 40px;
	&--index{
		.plus-single{
			width: 100%;
			max-width: unset;
			& + .plus-single{
				margin-top: 30px;
			}
			&:nth-child(2n){
				.plus-single__text{
					margin-right: 0;
					margin-left: 0px;

				}
				.plus-single__icon{
					order: -1;
				}
			}
			&__icon{
				order: -1;
			}
			&__text{
				max-width: 100%;
				margin-right: 0px;
			}
		}
	}
	&-con{
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: space-between;
	}
}
@media (min-width: 768px){

	.pluses{
		padding: 20px var(--size-con);
		margin-bottom: 90px;
		&--index{
		.plus-single{
			width: 100%;
			max-width: unset;
			&:nth-child(2n){
				.plus-single__text{
					margin-right: 0;
					margin-left: 30px;

				}
				.plus-single__icon{
					order: -1;
				}
			}
			&__icon{
				order: 2;
			}
			&__text{
				margin-right: 30px;
				max-width: 60%;
			}
		}
	}
		&--index{
			.pluses-con{
				flex-flow: column;
				align-items: center;
				justify-content: center;
			}
			.plus-single{
				max-width: 80%;
				& + .plus-single{
					margin-top: 60px;
				}
			}
		}	
	}
}
@media (min-width: 1024px){
	.pluses{
		padding: 20px var(--size-con);
		margin-bottom: 50px;
		&--index{
			.plus-single{
				width: 100%;
				max-width: unset;
				& + .plus-single{
					margin-top: 40px;
				}
			}
		}
	}	
}

.plus-single{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 30px;
	&__text{
		flex-wrap: wrap;
	}
	&__title{
		position: relative;
		width: auto;
		margin: 0 0 20px;
		font-size: 1.5rem;
		&::before{
			content: "";
			position: absolute;
			bottom: -7px;
			left: 0;
			height: 3px;
			width: 150px;
			background: var(--red);
		}
	}
	&__description{
		margin: 0;
	}
	&__icon{
		flex-basis: 50%;
		max-width: 250px;
		margin-bottom: 20px;
	}
	&-icon{
		color: var(--grey);
		&--marked{
			fill: var(--red);
		}

	}
}
@media( min-width: 768px){
	.plus-single{
		margin-bottom: 0;


	}
}
@media( min-width: 1024px){
	.plus-single{
		&__title{
			width: max-content;

		}
	}
}