.trade{
	padding: 20px;
	&__title{
		font-size: 1.3rem;
		margin: 20px 0;
	}
	&__callback{
		max-width: 80%;
		display: block;
		margin: 20px auto;
	}
	&__special{
		position: relative;
		margin: 10px 0 0;
		padding: 10px;
		font-size: 1.5rem;
		&::before{
			content: "*";
			color: var(--red);
			font-size: 2rem;
		}
	}
}
@media (min-width: 768px){
	.trade{
		padding: 20px var(--size-con);
		&__title{
			font-size: 1.5rem; 
		}
		&__special{
			padding: 5px 30px;
		}
	}
}
.trade-servs{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
	&__one{
		flex-basis: 100%;
		position: relative;
		padding: 10px 30px;
		padding-right: 0;
		font-size: 1.2rem;
		&::before{
			content: "";
			position: absolute;
			top: 10px;
			left: 3px;
			width: 15px;
			height: 10px;
			border-left: 2px solid var(--red);
			border-top: 2px solid var(--red);
			transform-origin: center center;
			transform: rotate(-135deg);

		}
	}
}
@media(min-width: 768px){
	.trade-servs{
		&__one{
			flex-basis: 50%;
		}
	}
}
.trade__price{
	font-size: 1.3rem;
	&--marked{
		font-size: 1.5rem;
		white-space: nowrap;
		color: var(--red);
	}
}
@media(min-width: 768px){
	.trade__price{
		font-size: 2rem;
		&--marked{
			font-size: 2.3rem;
		}
	}
}
.personal-tariff{
	padding: 20px;
	&__title{
		text-align: center;
	}
	&__text{
		text-align: center;
		font-size: 1.2rem;
		&--link{
			color: var(--blck);
			text-decoration: underline;
			text-decoration-color: var(--red);
			// font-weight: bold;
			transition: 0.3s;
			&:hover{
				color: var(--red);
				text-decoration-color: var(--black);
			}

		}
	}
}
@media(min-width: 768px){
	.personal-tariff{
		padding: 20px var(--size-con);
	}
}
