@import "normalize";
@import "vars";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/main-index.scss";
@import "blocks/pluses.scss";
@import "blocks/modal.scss";
@import "blocks/trade.scss";

* {
	box-sizing: border-box;
}

body{
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	color: var(--black);
	background: linear-gradient(6.5deg, transparent 80%, #f3f7f9 0, #f3f7f9); 
	background-repeat: no-repeat;
}
svg{
	height: 100%;
	width: 100%;	
}
.main-title{
	font-size: 2.5rem;
	line-height: 1.5;
}
@media (min-width: 768px){
	.main-title{
		font-size: 2.8rem;
	}

}
@media (min-width: 1024px){
	.main-title{
		font-size: 3rem;
		&--index-banner{
			max-width: 70%;
		}
	}
}
.section-title{
	font-size: 2.2rem;
	margin: 0 0 25px;

}
@media (min-width: 768px){
	.section-title{
		font-size: 2.4rem;
		margin: 0 0 40px;
	}
}

@media (min-width: 1024px){
	.section-title{
		font-size: 2.8rem;
	}
}
