html{
	--con: 100%;
	--size-con: calc((100% - var(--con)) / 2);
	--red: #D70C17;
	--black: #212529;
	--grey: #c4c4c4;
}

@media(min-width: 768px){
	html{
		--con: 768px;
	}
}
@media(min-width: 1024px){
	html{
		--con: 1024px;
	}
}
@media(min-width: 1200px){
	html{
		--con: 1200px;
	}
}